<ion-view title="Adicionar vacina" id="page14" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div id="adicionarVacina-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Posicione o telefone na frente do QR Code da vacina para que a ela seja cadastrada.</p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="confirmarVacina" id="adicionarVacina-button46" class="button button-royal  button-block">Pronto!</a>
    <a ui-sref="meuCartO2" id="adicionarVacina-button45" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>
