<ion-view title="Cadastro Salvo" id="page11" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div id="cadastroSalvo-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Cadastro salvo com sucesso</p>
    </div>
    <a ui-sref="login" id="cadastroSalvo-button26" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-royal  button-block">Ir para login</a>
  </ion-content>
</ion-view>