<ion-view title="Cadastrar" id="page5" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <form id="cadastrar-form7" class="list">
      <ion-list id="cadastrar-list7">
        <label class="item item-input" id="cadastrar-input9">
          <span class="input-label">CPF</span>
          <input type="number" placeholder="Digite seu CPF">
        </label>
        <label class="item item-input" id="cadastrar-input10">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Digite um email válido">
        </label>
        <label class="item item-input" id="cadastrar-input11">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Digite seu nome de usuário">
        </label>
        <label class="item item-input" id="cadastrar-input13">
          <span class="input-label">Data de nascimento</span>
          <input type="date" placeholder="Digite a data de nascimento">
        </label>
        <label class="item item-input" id="cadastrar-input12">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Digite uma senha">
        </label>
        <label class="item item-input" id="cadastrar-input21">
          <span class="input-label">Confirmar Senha</span>
          <input type="password" placeholder="Digite novamente">
        </label>
      </ion-list>
      <a ui-sref="cadastroSalvo" id="cadastrar-button7" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-royal  button-block">Confirmar Cadastro</a>
      <a ui-sref="login" id="cadastrar-button14" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-assertive  button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>