<ion-view title="Confirmar Código" id="page19" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="confirmarCDigo-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Você receberá um email contendo um
        <strong>código</strong> para confirmação de alteração de senha.</p>
    </div>
    <form id="confirmarCDigo-form18" class="list">
      <label class="item item-input" id="confirmarCDigo-input14">
        <span class="input-label">Código</span>
        <input type="text" placeholder="Digite aqui o código">
      </label>
    </form>
    <a ui-sref="login" id="confirmarCDigo-button48" style="font-weight:500;" class="button button-royal  button-block">Confirmar código</a>
    <a ui-sref="redefinirSenha" id="confirmarCDigo-button49" style="font-weight:500;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>