<ion-view title="Confirmar vacina" id="page18" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div id="confirmarVacina-markdown21" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Você confirma que é essa vacina?</p>
    </div>
    <div class="item item-body" id="confirmarVacina-list-item-container13">
      <div id="confirmarVacina-markdown20" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">data: 21/10/2015</p>
      </div>
      <form id="confirmarVacina-form16" class="list">
        <ion-item class="item-icon-left balanced" id="confirmarVacina-list-item78">
          <i class="icon ion-android-done"></i>BCG</ion-item>
      </form>
    </div>
    <a ui-sref="vacinaSalva" id="confirmarVacina-button39" style="font-weight:600;" class="button button-balanced  button-block icon ion-android-done"> Sim</a>
    <a ui-sref="adicionarVacina" id="confirmarVacina-button43" style="font-weight:600;" class="button button-assertive  button-block icon ion-android-close"> Não</a>
  </ion-content>
</ion-view>