<ion-view title="Últimas Vacinas" id="page13" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="LtimasVacinas-list-item-container6">
      <div id="LtimasVacinas-markdown17" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">data: 21/10/2015</p>
      </div>
      <form id="LtimasVacinas-form13" class="list">
        <ion-item class="item-icon-left balanced" id="LtimasVacinas-list-item46">
          <i class="icon ion-android-done"></i>BCG</ion-item>
      </form>
    </div>
    <div class="item item-body" id="LtimasVacinas-list-item-container7">
      <div id="LtimasVacinas-markdown19" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Data: 15/10/2014</p>
      </div>
      <form id="LtimasVacinas-form15" class="list">
        <ion-item class="item-icon-left balanced" id="LtimasVacinas-list-item49">
          <i class="icon ion-android-done"></i>Hepatite A</ion-item>
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 206px;"></div>
    <a ui-sref="menu" id="LtimasVacinas-button29" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>