<ion-view title="Meu Cartão1" id="page2" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div id="meuCartO1-container1">
      <div class="item item-body" id="meuCartO1-list-item-container1">
        <div id="meuCartO1-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vacina:</p>
        </div>
        <ion-list id="meuCartO1-list5">
          <ion-item id="meuCartO1-list-item11">Item 1</ion-item>
        </ion-list>
      </div>
      <div class="item item-body" id="meuCartO1-list-item-container3">
        <div id="meuCartO1-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dose atual:</p>
        </div>
        <ion-list id="meuCartO1-list6">
          <ion-item id="meuCartO1-list-item14">Item 1</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="item item-body" id="meuCartO1-list-item-container5">
      <div id="meuCartO1-markdown11" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Data:</p>
      </div>
      <ion-list id="meuCartO1-list9">
        <ion-item id="meuCartO1-list-item44">Item</ion-item>
      </ion-list>
    </div>
    <a ui-sref="vacinaSalva" id="meuCartO1-button24" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-royal  button-block">Salvar</a>
    <a ui-sref="menu" id="meuCartO1-button21" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>