<ion-view title="Notificações" id="page8" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <form id="notificaEs-form10" class="list">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
      <div id="notificaEs-button-bar1" class="button-bar"></div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="notificaEs-toggle6">Receber notificações</ion-toggle>
    </form>
    <ion-list id="notificaEs-list10">
      <ion-item class="item-icon-right" id="notificaEs-list-item37">Mensagem
        <span class="item-note">04/11/16 - 8:55</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaEs-list-item38">Mensagem
        <span class="item-note">01/10/16 - 0:30</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaEs-list-item39">Mensagem
        <span class="item-note">01/09/16 - 11:50</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaEs-list-item40">Mensagem
        <span class="item-note">25/08/16 - 21:05</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaEs-list-item41">Mensagem
        <span class="item-note">17/08/16 - 10:35</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="notificaEs-list-item42">Mensagem
        <span class="item-note">01/07/16 - 14:51</span>
        <i class="icon ion-android-menu"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="menu" id="notificaEs-button23" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>
