<ion-view title="Novidades" id="page9" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <form id="novidades-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="novidades-toggle8">Receber Novidades</ion-toggle>
      <button id="novidades-button20" style="font-weight:500;" class="button button-royal button-small button-block icon-left ion-android-delete">Excluir Notícias Lidas</button>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <div>
        <a style="display:block;" href="#" onclick="window.open('http://www.saude.mg.gov.br/component/gmg/story/8676-meninos-tambem-serao-vacinados-pelo-sus-contra-hpv-a-partir-de-2017', '_system', 'location=yes'); return false;">
          <img src="img/3FeQQb7RZu5Yx4zsmvUe_noticia1.jpg" width="100%" height="80%" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <ion-checkbox>Marcar como lida</ion-checkbox>
    </form>
    <h2 id="novidades-heading1" style="color:#000000;text-align:center;"></h2>
    <div>
      <a style="display:block;" href="#" onclick="window.open('http://www.saude.mg.gov.br/component/gmg/story/8615-sabado-e-o-dia-d-na-campanha-nacional-de-multivacinacao', '_system', 'location=yes'); return false;">
        <img src="img/i91ktHCVQS2wNPIw9keR_noticia2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <form id="novidades-form9" class="list">
      <ion-checkbox>Marcar como lida</ion-checkbox>
    </form>
    <a ui-sref="menu" id="novidades-button22" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>
