<ion-view title="Opções" id="page7" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="opEs-form8" class="list">
      <ion-item class="range range-positive" id="opEs-range1">Som de Notificações
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="range range-positive" id="opEs-range1">Brilho
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="opEs-toggle2">Notificações na Barra</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="opEs-toggle3">Usar dados Móveis</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="opEs-toggle4">Atualizar Automaticamente</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="opEs-toggle6">Alto Contraste</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="opEs-toggle5">Permitir envio de dados remotos</ion-toggle>
    </form>
    <a ui-sref="menu" id="opEs-button15" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-positive  button-block">Voltar</a>
  </ion-content>
</ion-view>
