<ion-view title="Redefinir senha" id="page4" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <form id="redefinirSenha-form6" class="list">
      <ion-list id="redefinirSenha-list2">
        <label class="item item-input" id="redefinirSenha-input5">
          <span class="input-label">CPF</span>
          <input type="number" placeholder="Digite seu CPF">
        </label>
        <label class="item item-input" id="redefinirSenha-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email de recuperação">
        </label>
        <label class="item item-input" id="redefinirSenha-input7">
          <span class="input-label">Nova senha</span>
          <input type="password" placeholder="Digite a nova senha">
        </label>
        <label class="item item-input" id="redefinirSenha-input8">
          <span class="input-label">Confirmar senha</span>
          <input type="password" placeholder="Confirme a nova senha">
        </label>
      </ion-list>
      <a ui-sref="confirmarCDigo" id="redefinirSenha-button5" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-royal  button-block">Redefinir senha</a>
      <a ui-sref="menu" id="redefinirSenha-button19" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-assertive  button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>
