<ion-view title="Vacinas Pendentes" id="page17" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <form id="vacinasPendentes-form14" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquise aqui o nome da vacina">
      </label>
      <button id="vacinasPendentes-button40" style="font-weight:500;" class="button button-royal button-small button-block">Pesquisar</button>
      <ion-item class="item-icon-left" id="vacinasPendentes-list-item71" ui-sref="notificaEs">
        <i class="icon ion-alert"></i>BCG</ion-item>
      <ion-item class="item-icon-left" id="vacinasPendentes-list-item72" ui-sref="notificaEs">
        <i class="icon ion-alert"></i>Sarampo</ion-item>
      <ion-item class="item-icon-left" id="vacinasPendentes-list-item73" ui-sref="notificaEs">
        <i class="icon ion-alert"></i>Rúbeola</ion-item>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <a id="vacinasPendentes-button41" ui-sref="meuCartO2" style="font-weight:500;" class="button button-positive  button-block icon-left ion-android-arrow-back">Voltar</a>
  </ion-content>
</ion-view>
