<ion-view title="Vacinas Tomadas" id="page16" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <form id="vacinasTomadas-form11" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquise aqui o nome da vacina">
      </label>
      <button id="vacinasTomadas-button31" style="font-weight:500;" class="button button-royal button-small button-block">Pesquisar</button>
    </form>
    <ion-list id="vacinasTomadas-list13">
      <ion-item class="item-icon-left item-icon-right balanced" id="vacinasTomadas-list-item58" ui-sref="vacina">
        <i class="icon ion-checkmark"></i>BCG
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="vacinasTomadas-list-item59">
        <i class="icon ion-checkmark"></i>Hepatite A
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="vacinasTomadas-list-item61">
        <i class="icon ion-checkmark-round"></i>Poliomelite
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="vacinasTomadas-list-item60">
        <i class="icon ion-checkmark"></i>Gripe
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
    </ion-list>
    <ion-list id="vacinasTomadas-list14">
      <ion-item class="item-icon-left item-icon-right balanced" id="vacinasTomadas-list-item62">
        <i class="icon ion-checkmark-round"></i>Influenza B
        <i class="icon ion-android-clipboard"></i>
      </ion-item>
    </ion-list>
    <button ui-sref="meuCartO2" id="vacinasTomadas-button30" style="font-weight:500;" class="button button-positive  button-block icon-left ion-android-arrow-back">Voltar</button>
  </ion-content>
</ion-view>
