<ion-view title="Vacina" id="page10" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
  <div class="row">
    <div class="col text-right">
    <a ui-sref="login" id="meuCartO2-button9" style="font-weight:500;font-size:13px;" class="button button-assertive button-small">Sair</a>
	</div>
  </div>
    <h2 id="vacina-heading2" style="color:#000000;text-align:center;">BCG</h2>
    <a href="#" onclick="window.open('http://www.minhavida.com.br/saude/tudo-sobre/16655-vacina-bcg', '_system', 'location=yes'); return false;" id="vacina-button37" style="font-weight:500;" class="button button-royal  button-block icon-left ion-earth">Ler mais sobre...</a>
    <div class="item item-body" id="vacina-list-item-container9">
      <div id="vacina-markdown16" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Dose atual: Dose única</p>
      </div>
    </div>
    <div class="item item-body" id="vacina-list-item-container12">
      <div id="vacina-markdown10" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Data: 18/04/2003</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 106px;"></div>
    <a ui-sref="meuCartO2" id="vacina-button38" style="font-weight:500;" class="button button-positive  button-block icon-left ion-android-arrow-back">Voltar</a>
  </ion-content>
</ion-view>
