<ion-view title="Vacina Salva" id="page12" style="background-color:#EEF4F6;">
  <ion-content padding="true" class="has-header">
    <div id="vacinaSalva-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Vacina salva com sucesso</p>
    </div>
    <a ui-sref="menu" id="vacinaSalva-button27" style="font-weight:500;border-radius:10px 10px 10px 10px;" class="button button-royal  button-block">Voltar ao Menu</a>
  </ion-content>
</ion-view>